---
import Hero from '@/components/Hero.astro';
import Experience from '@/components/Experience.astro';
import Skills from '@/components/Skills.astro';
import Academic from '@/components/Academic.astro';
import Portfolio from '@/components/Portfolio.astro';
import Contact from '@/components/Contact';
import Layout from '@/layouts/Layout.astro';
import { languages } from '@/i18n/ui';

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}
---

<Layout title="Samir Bettahar - Portfolio">
	<main>
		<Hero />
		<Experience />
		<Skills />
		<Academic />
		<Portfolio />
		<Contact client:visible />
	</main>
</Layout>
